*{background-color:#F5F5F5}*

body{
  cursor: url('image/point.png'), auto;
}

img{
  max-height:100vh;
  overflow:auto;
}

a{
  cursor: url('image/point.png'), auto;
}

.links
{
  position: absolute;
  left:740px;
  top:310px;
  font-family: helvetica;
  font-size: 15px;
}