@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{background-color:seagreen;}*

h1{
  margin-top:30px;
  font-size:100px;
  color:lightgreen;
}

.highlight-on-hover {
  display: inline-block;
  color:seagreen;
  font-family: 'Nunito', sans-serif;
  font-size:40px;
}

.line-1 {
  margin-right: 200px;
}

.line-1a {
  margin-left: 200px;
  margin-right: 250px;
}

.line-1b {
  margin-left: 400px;
}

.line-2 {
  margin-right: 100px;
}

.line-3 {
  margin-right: 60px;
}

.highlight-on-hover:hover {
  background-color: lightgreen; 
}