@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Rubik&display=swap');

*{
	margin:10;
	padding:20;
	background-color:#EEEADE;
}

body{
	font-family: 'Rubik', sans-serif;
	text-align:center
}

button{
	font-family: 'Noto Sans KR', sans-serif;
	border-width:0;
	font-size:75px;
	margin:20px;
}

button:hover span {
  display: none
}

button:hover:before {
  content: "BBIBBI"
}

button.only{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:75px;
	margin:20px;
}

button.only:hover span {
  display: none
}

button.only:hover:before {
 	content: "ONLY"
}

button.better{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.better:hover span {
  display: none
}

button.better:hover:before {
 	content: "Better"
}

button.callyou{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.callyou:hover span {
  display: none
}

button.callyou:hover:before {
 	content: "What Do I Call You"
}

button.lunatic{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.lunatic:hover span {
  display: none
}

button.lunatic:hover:before {
 	content: "better"
}

button.play{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.play:hover span {
  display: none
}

button.play:hover:before {
 	content: "PLAY"
}

button.antifreeze{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.antifreeze:hover span {
  display: none
}

button.antifreeze:hover:before {
 	content: "Antifreeze"
}

button.walls{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.walls:hover span {
  display: none
}

button.walls:hover:before {
 	content: "4 Walls"
}

button.sick{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.sick:hover span {
  display: none
}

button.sick:hover:before {
 	content: "I'm so sick"
}

button.talk{
	font-family: 'Noto Sans KR', sans-serif;	
	border-width:0;
	font-size:50px;
	margin:20px;
}

button.talk:hover span {
  display: none
}

button.talk:hover:before {
 	content: "Talk To Me"
}
