@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Outfit:wght@500&display=swap');

body{
	margin: 0;
  padding: 20px;
  background-image: url('Image/waves.gif');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
	font-family: 'Gabriela', serif;
	font-family: 'Outfit', sans-serif;
}

p{
	font-size: 22.5px;
}

p.davis{
	text-align: left;
	color:white;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.title{
	display:flex;
	align-items:center;
	justify-content:space-around;
	text-align:center;
	color:white;
}

    .black-border {
      color: white; /* Text color */
      text-shadow: -2px -2px 0 #000,  
                    2px -2px 0 #000,
                   -2px 2px 0 #000,
                    2px 2px 0 #000; /* Black shadow to create a border */
    }