@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Outfit:wght@500&display=swap');

*{background-color:#0C090A}*

body{
	font-family: 'Gabriela', serif;
	font-family: 'Outfit', sans-serif;
}

p{
	font-size: 22.5px;
}

p.davis{
	text-align: left;
	color:white;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.title{
	display:flex;
	align-items:center;
	justify-content:space-around;
	text-align:center;
	color:#625D5D;
}